[submodule "blog/themes/PaperMod"]
	path = blog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "risc-4"]
	path = risc-4
	url = https://github.com/jking323/risc-4.git
